<% if user_signed_in?%>
  <p class="alert alert-success"> Welcome to the Recipe App, <%= current_user.name%></p>
<% else %>
  <p class="alert alert-warning">Log in to add a new food and recipes!</p>
<% end %>
<h2 class="mx-3"> Public recipes: </h2><br>
<div class="container">
  <div class="row">
    <% @recipes.each do |recipe| %>
         <%= render "recipe-card", recipe: recipe %>
    <% end %>
  </div>
</div>